<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">
  
Te invitamos a participar el <b>24, 25, 26 de enero del 2019</b> en el
<b><a href = "http://www.conectar2019.ucr.ac.cr">Encuentro de Usuarios R en Latinoamérica ConectaR2019</a></b>. Daremos un
espacio para crear comunidad entre usuarios R en industria, academia, ciencia
ciudadana y enseñanza. De esta forma queremos incentivar el uso de R, fomentar
el aprendizaje y el desarrollo de paquetes en R adaptados a nuestras
necesidades en Latinoamérica.</p>

<p><b>Toda la información esta en el sitio oficial del evento: <a href = "http://www.conectar2019.ucr.ac.cr">http://www.conectar2019.ucr.ac.cr</a></p></p>

<h4>Feria de Empleo</h4>
<p>Ofreceremos un espacio para mostrar las oportunidades de empleo que existen alrededor de R a la comunidad de estudiantes y profesionales. Invitamos a empresas a conectarse con posibles candidatos, y mostrar qué hacen con R, cómo lo usan en su industria y por qué necesitan gente con conocimiento R. <a href = "http://www.conectar2019.ucr.ac.cr/2018/06/25/patrocinadores-2/">mas información en la pagina web del evento</a></p>
