<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">Te invitamos a participar el 24, 25, 26 de Enero del 2019 en Encuentro de Usuarios de R en Latinoamérica. Esperamos crear un foro amplio con representantes de Industria, Enseñanza, Ciencia Ciudadana, Ciencia Abierta.</p>

<p>El evento se llevará a cabo en el Auditorio de la Ciudad de la Investigación de la Universidad de Costa Rica.</p>

<h4>Objetivo</h4>
<p>Crear un espacio para hacer comunidad entre usuarios de R (en industria, academia, ciencia ciudadana, enseñanza) en e incentivar su uso, aprendizaje y el desarrollo de paquetes en R adaptados a las necesidades en Latinoamérica.</p>


<h4>Ejes temáticos de la conferencia</h4>

<ul class="portada">
  <li>Aplicaciones en distintas disciplinas de la academia y la industria.</li>
  <li>Uso en conjunto con otros lenguajes de programación</li>
  <li>Uso innovador de paquetes existentes</li>
  <li>Desarrollo de nuevos paquetes</li>
  <li>Uso en la enseñanza</li>
  <li>Análisis reproducible de datos</li>
  <li>Análisis de grandes datos</li>
  <li>Aprendizaje automático</li>
  <li>Visualización de datos</li>
  <li>Análisis de datos abiertos</li>
</ul>

<br>

<h4>Feria de Empleo</h4>
<p>Queremos ofrecer la oportunidad de mostrar las posibilidades de empleo que existen alrededor de R a la comunidad de estudiantes y profesionales. Invitamos a empresas a mostrar qué hacen con R, por qué es necesario su uso en la industria y por qué necesitan gente con esos conocimientos en específico.</p>
