<h2 class="section-title">{{ .titles.speakers }}</h2>

<p>Te invitamos a hacer una propuesta para una <b>presentación</b>, <b>poster</b> o un <b>tutorial</b>. </p>
  
<p>Todas las propuestas van a travez <a href="https://docs.google.com/forms/d/1D8KfDWBkEF_70R4FghyPPbv0pakLIQ62ikqh5u2_w6w/edit?ts=5adb6072"> del formulario de inscripción</a>. Toma en cuenta que el resumen debe contener una breve introducción al problema, la metodología y los detalles acerca del uso de R de la misma. Para los tutoriales se deben incluir los objetivos y la metodología a utilizar. Máximo 200 palabras. </p>

<h3>Comité Editorial</h3>
Estamos muy agradecidos con as siguientes personas que aceptaron ser parte del comité editorial de ConectaR 2019.

Dr. Eric Fuchs	escuela de Biología
Dr. Ricardo Alvarado 	School of Statistics, Universidad de Costa Rica
Dr. Manuel Spinola 	Universidad Nacional
Dr. Paul Esker	Universidad de Costa Rica and Penn State
Dra. Natalia Da Silva	Universidad de la República, R-ladies Montevideo
Dra. Laura Ación 	R-ladies Buenos Aires
Marcelo Araya Salas	 https://marceloarayasalas.weebly.com/publications.html
Juan Pablo Marin Diaz	Chief Data Officer de Random Monkey
Dr. Luis Barboza	Centro de Investigación en Matemática Aplicada
Dr. Maikol Solís	Centro de Investigación en Matemática Aplicada
Sergio Cubero	Cientifico de Datos en BAC|CREDOMATIC
Jesus Calejero	Chief Data Scientist Funidelia
Daniela Vasquez	Consultant at Equifax (Uruguay)
Azalea Reyes Aguilar	Instituto de Neurobiología, UNAM
Teresita Guerrero	México
Milagros Villavicencio	Universidade Federal do Rio Grande do Norte
